# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/
.vscode/
/bin/

# MCreator workspace
.mcreator/

# Minecraft client/server files
run/

# MacOS system files
.DS_STORE

# Other Files (In Eclipse)
.classpath
.project
/else/
/ghhgffhjfs_scythe-1.0.0-forge-1.20.1/
/ghhgffhjfs_scythe-1.0.0-forge-1.20.1.jar
